
h1{
	font-weight: 600;
	font-family: "Times New Roman", Times, serif;
	color: #c7e40c;
  }

  p{
	color: black;

  }

  .center {
	text-align: center;
  }

  .page {
	width: 950px;
	background-color: white;
	margin: auto;
	padding-left: 150px;
	padding-right: 50px;
	padding-top: 00px;
	padding-bottom: 5px;
  }


  .bar-chart-box {
	width: 400px;
	height: 100px;
	margin-right: 2300px;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }

  .line-chart-box {
	overflow-wrap: break-word;
	padding-left: 30px;
  }

  #choropleth_map {

	margin-left: -300px; 
	margin-top: -120px;
}

  #bar_chart {
	font-family: "Times New Roman", Times, serif;
	left: 170px;	
	top: 100px;
}

#choropleth_map {
	font-family: "Times New Roman", Times, serif;
	left: 200px;
	right: 200px;	
}

.pure-g{
	margin-bottom: 100px;
	margin-left: -130px; 
  }
  .small-font{
	  font-size: 14px;
  }

  .pie-chart-box {
	font-family: "Times New Roman", Times, serif;
	width: 400px;
	height: 300px;
	margin-top: 1000px;
	margin-left: -500px;
	margin-top: -5px;
  }

 #pie_chart {
	font-family: "Times New Roman", Times, serif;
	left: -150px;	
	top: 50px;
}

  #line_chart {
	font-family: "Times New Roman", Times, serif;
	left: 180px;	
	top: 60px;
}

.left-align {
	text-align: left;
  }


  
  
  

  
